<?xml version="1.0" encoding="utf-8"?>
<manifest package="ren.qinc.markdowneditors"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 内存卡读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        <activity
            android:name=".view.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.CustomCursor"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".view.CommonMarkdownActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".view.CommonImageDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".base.BaseWebActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".view.EditorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>


                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.md"
                    android:scheme="file"/>

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.markdown"
                    android:scheme="file"/>

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.mdown"
                    android:scheme="file"/>
            </intent-filter>
        </activity>

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a82f52e0f55ae83b000428"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="None"/>
        <!--蒲公英-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="703a9ae9ca0394dd8a2315134977c398">
        </meta-data>
    </application>

</manifest>
